<!DOCTYPE html>
<html ng-app="ninesWeb">
<head>
    <title><%= title %></title>

    <script src="/modules/angular.js"></script>
    <script src="/modules/angular-route.js"></script>
    <script src="/modules/angular-resource.js"></script>
    <script src="/modules/jquery.js"></script>
    <script src="/modules/bootstrap.js"></script>

    <link href="/modules/bootstrap.css" rel="stylesheet" />
    <link href="/modules/bootstrap-theme.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet"/>

    <!-------------------------------------------------------------------------
      AngularJS Module definition and related services, routes, and controllers
    -------------------------------------------------------------------------->
    <script>
        angular.module('ninesWeb', ['ngRoute', 'ngResource', 'customFilters']);
    </script>
    <script src="/ngServices/urlsService.js"></script>
    <script src="/ngServices/urlgroupsService.js"></script>
    <script src="/ngServices/urlgroupurlsService.js"></script>
    <script src="/ngServices/headsService.js"></script>
    <script src="/ngRoutes/ninesWebRoutes.js"></script>
    <script src="/ngControllers/ninesWebController.js"></script>
    <script src="/ngFilters/customFilters.js"></script>
</head>
<body>
     <ng-view></ng-view>
</body>
</html>
