<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">
                <span class="app-name">nines</span>
                <span> | </span>
                <span class="page-name">Response Stats</span>
            </h1>
        </div>
    </div>
    <div class="row" id="content">
        <div class="col-md-12">

            <!---------------------------------------------------------------------
             Form for Adding URL Groups
            ---------------------------------------------------------------------->
            <div id="manageUrlGroups" ng-controller="uiMainUrlGroupsCtrl">
                <div class="btn-group" role="group" aria-label="actions for managing URL Groups">
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="showAddUrlGroupForm()">
                        Add URL Group
                    </button>
                </div>

                <div id="add-url-group-form" ng-show="showFormAddUrlGroup">
                    <h2>Add new URL Group</h2>
                    <form name="add-url-group">
                        <div class="form-group">
                            <label for="url-group-name">URL Group Name</label>
                            <input type="text" class="form-control" id="url-group-name"
                                   ng-model="newUrlGroup.name" name="url-group-name">
                        </div>
                        <div class="form-alert">
                            <alert ng-show="addUrlGroupFormMessage">{{addUrlGroupFormMessage}}</alert>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary"
                                ng-click="addUrlGroup(newUrlGroup)">
                            Add
                        </button>
                        <button class="btn btn-sm btn-default" ng-click="hideAddUrlGroupForm()">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------------------
     Main Display of Groups, URLs, and Ratings
    ---------------------------------------------------------------------->

    <div class="group-container" ng-repeat="urlgroup in urlgroups | orderBy: 'name'"
         ng-controller="uiMainUrlsCtrl">
        <div class="row">
            <div class="col-md-2">
                <h2 class="group-name">{{urlgroup.name}}</h2>
            </div>
            <div class="group-details col-md-10">
                <div class="row">
                    <div class="col-md-4">
                    <div class="summary-totals">
                        <span class="summary-label">Total Requests: </span>
                        <span class="summary-total-request-value">{{getUrlGroupTotals(urlgroup).resTotal}} </span>
                        <span class="summary-label">Total Errors: </span>
                        <span class="summary-total-error-value">{{getUrlGroupTotals(urlgroup).errTotal}} </span>
                    </div>
                    </div>
                    <div class="col-md-8">
                    <div class="summary-rating">
                        <span class="summary-label">
                            Average Availability Rating:
                        </span>
                        <div class="summary-rating-digit"
                             ng-repeat="(statNum, rating) in getAvailRating(urlgroup.responses)">
                            <span ng-show="rating === '.'">{{rating}}</span>
                            <span ng-hide="rating === '.'"
                                  class="summary-digit {{getStatMarkup(statNum, rating)}}">
                                {{rating}}
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="show-hide-details col-md-12">
                <a type="link" ng-hide="showDetailsUrlGroup"
                   ng-click="showUrlGroupDetails(urlgroup._id)">
                    Show Details
                </a>
                <a type="link" ng-show="showDetailsUrlGroup"
                   ng-click="showUrlGroupDetails()">
                    Hide Details
                </a>
            </div>
        </div>
        <table ng-show="showDetailsUrlGroup && !showControlsUpdateUrl"
               class="table table-striped table-condensed table-responsive">
            <thead>
                <th class="col-md-1" ng-show="showControlsUpdateUrl === urlgroup._id">Remove</th>
                <th class="col-md-2">Name</th>
                <th class="col-md-2">URL</th>
                <th class="col-md-1" ng-repeat="(statusCode, count) in urlgroup.responses">
                    {{statusCode}}
                </th>
                <th class="col-md-3" colspan="{{numDigits + 1}}">Availability Rating (%)</th>
            </thead>
            <tbody>
                <tr ng-repeat="url in urls |
                               filter : { urlgroup_id: urlgroup._id } |
                               orderBy: 'name'">
                    <td ng-show="showControlsUpdateUrl === urlgroup._id">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </td>
                    <td>{{url.name}}</td>
                    <td><a href="http://{{url.host}}{{url.path}}" target="_blank">
                        {{url.host}}{{url.path}}</a>
                    </td>

                    <td ng-repeat="stat in getUrlStats(urlgroup.responses, url.responses)">
                        {{stat}}
                    </td>
                    <td ng-repeat="(statNum, rating) in getAvailRating(urlgroup.responses, url.responses)">
                        <span ng-show="rating === '.'">{{rating}}</span>
                        <span ng-hide="rating === '.'"
                              class="label {{getStatMarkup(statNum, rating)}}">
                            {{rating}}
                        </span>
                    </td>

                </tr>
                <tr class="url-group-total-row">
                    <td ng-show="showControlsUpdateUrl === urlgroup._id"></td>
                    <td colspan="2">
                        Group Total:
                    </td>
                    <td ng-repeat="stat in getUrlStats(urlgroup.responses)">
                        {{stat}}
                    </td>
                    <td ng-repeat="(statNum, rating) in getAvailRating(urlgroup.responses)">
                        <span ng-show="rating === '.'">{{rating}}</span>
                        <span ng-hide="rating === '.'"
                              class="label {{getStatMarkup(statNum, rating)}}">
                            {{rating}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <form name="update-url" ng-show="showDetailsUrlGroup && showControlsUpdateUrl">
            <table class="table table-striped table-condensed table-responsive">
                <thead>
                    <th class="col-md-1" ng-show="showControlsUpdateUrl === urlgroup._id">Move or Remove</th>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-9">URL</th>
                </thead>
                <tbody>
                    <tr ng-repeat="url in urls |
                                       filter : { urlgroup_id: urlgroup._id } |
                                       orderBy: 'name'">
                        <td>
                            <input type="checkbox" ng-model="url.update">
                        </td>
                        <td>{{url.name}}</td>
                        <td><a href="http://{{url.host}}{{url.path}}" target="_blank">
                            {{url.host}}{{url.path}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-alert">
                <alert ng-show="false"></alert>
            </div>
            <button type="submit" class="btn btn-sm btn-primary"
                    ng-click="prepMoveUrls(urlgroup._id)"
                    data-toggle="modal"
                    data-target="#updateUrlsModal">
                Move Selected URLs
            </button>
            <button type="submit" class="btn btn-sm btn-danger"
                    ng-click="prepRemoveUrls(urlgroup._id)"
                    data-toggle="modal"
                    data-target="#updateUrlsModal">
                Remove Selected URLs
            </button>
            <button class="btn btn-sm btn-default"
                    ng-show="showControlsUpdateUrl === urlgroup._id"
                    ng-click="showUpdateUrlControls(urlgroup._id)">
                Cancel
            </button>
        </form>

        <!-----------------------------------------------------------------
         Buttons for Adding/Removing URLs and Form for Adding URLs
        ------------------------------------------------------------------>
        <div ng-show="showDetailsUrlGroup" id="manageUrls">
            <div class="btn-toolbar" role="group" aria-label="actions for managing URLs">
                <button type="button" class="btn btn-sm btn-primary"
                        ng-hide="showControlsUpdateUrl === urlgroup._id"
                        ng-click="showAddUrlForm(urlgroup._id)">
                    Add URL
                </button>
                <button type="button" class="btn  btn-sm btn-danger"
                        ng-hide="showControlsUpdateUrl === urlgroup._id"
                        ng-click="showUpdateUrlControls(urlgroup._id)">
                    Move or Remove URLs
                </button>
                <button type="button" class="btn  btn-sm btn-danger"
                        ng-hide="showControlsUpdateUrl === urlgroup._id"
                        ng-click="prepRemoveUrlGroup(urlgroup._id)"
                        data-toggle="modal"
                        data-target="#updateUrlsModal">
                    Remove This Group and all URLs
                </button>
            </div>
            <div id="add-url-form" ng-show="showFormAddUrl === urlgroup._id">
                <h3>Add new URL</h3>
                <form name="add-url">
                    <div class="form-group">
                        <label for="url-name">URL Name</label>
                        <input type="text" class="form-control" id="url-name"
                               ng-model="newUrl.name" name="url-name">
                        <label for="url-host">URL Host</label>
                        <input type="text" class="form-control" id="url-host"
                               ng-model="newUrl.host" name="url-host">
                        <label for="url-path">URL Path</label>
                        <input type="text" class="form-control" id="url-path"
                               ng-model="newUrl.path" name="url-path">
                        <label for="url-protocol-choice-buttons">Protocol</label>
                        <div id="url-protocol-choice-buttons">
                            <label class="radio-inline">
                                <input type="radio" name="urlProtocolOptions"
                                       id="urlProtocolHttp" value="http"
                                       ng-model="newUrl.protocol">
                                HTTP
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="urlProtocolOptions"
                                       id="urlProtocolHttps" value="https"
                                       ng-model="newUrl.protocol">
                                HTTPS
                            </label>
                        </div>
                    </div>
                    <div class="form-alert">
                        <alert ng-show="addUrlFormMessage">{{addUrlFormMessage}}</alert>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary"
                            ng-click="addUrl(newUrl, urlgroup)">
                        Add
                    </button>
                    <button class="btn btn-sm btn-default" ng-click="hideAddUrlForm()">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for execution of update of specified URLs -->
    <div class="modal fade" id="updateUrlsModal" tabindex="-1" role="dialog"
         aria-labelledby="updateUrlsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="updateUrlsModalLabel">
                        {{modalHeaderMsg}}
                    </h4>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="modal-body-header"
                             ng-show="showModalControl == 'remove-group'">
                            URL Group:
                        </div>
                        <div ng-show="showModalControl == 'remove-group'">
                            {{getUrlGroupById(currentUrlGroupId).name}}
                        </div>
                        <div class="modal-body-header">URLs:</div>
                        <div ng-repeat="url in urls |
                             filter : { update: currentUrlGroupId }" >
                            {{url.name}}
                        </div>
                        <div class="modal-body-header"
                             ng-show="showModalControl == 'move-groups'">
                            Select URL Group to move to:
                        </div>
                        <select class="form-control"
                                ng-show="showModalControl == 'move-groups'"
                                ng-model="moveUrlGroup" name="UrlGroupChooser"
                                ng-options="urlgroup.name for urlgroup in urlgroups |
                                            filter: { _id: '!' + currentUrlGroupId } |
                                            orderBy: 'name'"
                                autofocus>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-md btn-default"
                                ng-click="unsetAllUrlUpdate()"
                                data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-md btn-primary"
                                ng-click="moveUrls(currentUrlGroupId)"
                                ng-show="showModalControl == 'move-groups'"
                                data-dismiss="modal">
                            Move
                        </button>
                        <button type="button" class="btn btn-md btn-danger"
                                ng-click="removeUrls(currentUrlGroupId)"
                                ng-show="showModalControl == 'remove-groups'"
                                data-dismiss="modal">
                            Remove
                        </button>
                        <button type="button" class="btn btn-md btn-danger"
                                ng-click="removeUrlGroup(currentUrlGroupId)"
                                ng-show="showModalControl == 'remove-group'"
                                data-dismiss="modal">
                            Remove
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
